<p id="notice"><%= notice %></p>

<h1>Welcome to myPost</h1>
<br>

<a href = "/posts/allcontent"> Show All Posts</a>
<br>
<a href = "/posts/recent"> Show Recent Posts</a>
<br>
<a href = "/posts/admin"> Edit Current Posts</a>
<br>
<a href = "/admins"> Admin Account</a>
<br>
<a href = "/login"> Log In</a>
